:root {
  --toastedalmond: #eed5bf;
  --transparentalmond: #ffc0896c;
  --white: white;
  --oceanslate: #243f4c;
  --oceanslatelight: #45738a;
  --honey: rgba(255, 196, 0, 0.87);
}

.mycontainer {
  background: var(--oceanslate);
  color: var(--toastedalmond);
  font-size: 17px;
  font-family: "Josefin Sans", sans-serif;
}

.mynav {
  font-size: 29px;
}

.mynav #currentnav {
  margin: 10px;
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

.mynav #navtext {
  margin: 10px;
  text-decoration: var(--honey) underline;
  color: unset;
}

.mynav #mynavlogo {
  margin-right: 30px;
}

.mynav #navtext:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

.mynav #imagenavtext {
  font-family: "Square Peg", cursive;
  margin-right: 50px;
  font-size: 68px;
  text-decoration: var(--honey) underline;
  color: unset;
}

.mynav #imagenavtext:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

.headshot {
  border: 1px;
  border-radius: 4%;
  border-style: solid;
}

.myButton {
  background-color: var(--toastedalmond);
  color: black;
}

.about {
  max-width: 800px;
}

.footer {
  margin-top: 30px;
}

.shortBioBump {
  margin-top: -15px;
}

.bs-li-overrides {
  font-size: 18px;
  --bs-list-group-bg: null;
  --bs-list-group-border-width: 5px;
  --bs-list-group-border-color: var(--honey);
  --bs-list-group-color: var(--toastedalmond);
  border-style: groove;
}

.border-end,
.border-start {
  --bs-border-width: 3px;
  --bs-border-style: inset;
  --bs-border-color: var(--honey);
}

.accordion {
  margin-top: 20px;
  margin-bottom: 50px;
  --bs-accordion-bg: var(--toastedalmond);
  --bs-accordion-border-color: var(--honey);
  --bs-accordion-border-width: 6px;
  --bs-accordion-active-color: var(--honey);
  --bs-accordion-active-bg: var(--oceanslatelight);
  --bs-accordion-btn-focus-border-color: var(--honey);
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
}

.btn-primary {
  --bs-btn-bg: var(--honey);
  --bs-btn-border-color: black;
  --bs-btn-color: black;
}

.btn-secondary {
  --bs-btn-bg: black;
  --bs-btn-border-color: var(--honey);
  --bs-btn-color: var(--honey);
}

#myface {
  margin-bottom: 40px;
}

#unilink {
  color: var(--white);
  text-decoration: var(--honey) underline;
}

#unilink:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

#currentcons {
  margin-left: 20px;
  max-width: 300px;
}

#extendedbio {
  margin-top: 10px;
}

#contact-image {
  width: 60px;
  height: auto;
}

h2 {
  display: inline;
  font-style: oblique;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .shortBioBump {
    max-width: 480px;
  }
  #extendedbio {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .about {
    margin-left: 20px;
  }
}

@media (max-width: 577px) {
  #imagenavtext {
    margin-left: 52px;
  }
}

@media (max-width: 768px) {
  .border-end {
    --bs-border-color: null;
  }
  .border-start {
    --bs-border-color: null;
  }
}

@media (max-width: 767px) {
  hr {
    border: solid;
    border-color: black;
    border-style: solid;
    opacity: 1;
  }
  .row > hr {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 35px;
  }
}

@media (min-width: 768px) {
  hr {
    display: none;
  }
}
