:root {
  --toastedalmond: #eed5bf;
  --white: white;
  --oceanslate: #243f4c;
  --honey: rgba(255, 196, 0, 0.87);
}

.mycontainer {
  background: var(--oceanslate);
  color: var(--toastedalmond);
  font-size: 17px;
  font-family: "Josefin Sans", sans-serif;
}

.mynav {
  font-size: 29px;
}

.mynav #currentnav {
  margin: 10px;
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

.mynav #navtext {
  margin: 10px;
  text-decoration: var(--honey) underline;
  color: unset;
}

.mynav #mynavlogo {
  margin-right: 30px;
}

.mynav #navtext:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

.mynav #imagenavtext {
  font-family: "Square Peg", cursive;
  margin-right: 50px;
  font-size: 68px;
  text-decoration: var(--honey) underline;
  color: unset;
}

.mynav #imagenavtext:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

.headshot {
  border: 1px;
  border-radius: 4%;
  border-style: solid;
  width: 300px;
  height: 300px;
}

.myButton {
  background-color: var(--toastedalmond);
}

.about {
  max-width: 800px;
}

.footer {
  margin-top: 30px;
}

#myface {
  margin-bottom: 40px;
}

#unilink {
  color: var(--white);
  text-decoration: var(--honey) underline;
}

#unilink:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

#currentcons {
  margin-left: 20px;
  max-width: 300px;
}

#extendedbio {
  margin-top: 10px;
}

#contact-image {
  width: 60px;
  height: auto;
  margin: 20px;
}

h2 {
  display: inline;
}

@media (min-width: 1200px) {
  .shortBioBump {
    max-width: 550px;
  }
}

@media (min-width: 1200px) {
  .about {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .myButton {
    margin-left: 20px;
  }
}

@media (max-width: 577px) {
  #imagenavtext {
    margin-left: 52px;
  }
}
